.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
@media (min-width: 992px){
    div.mainContentFrame{
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
@media (min-width:1200px){
    div.innerArea{
        max-width: 1140px;
    }
}
@media (min-width:1540px){
    div.innerArea{
        max-width: 1440px;
    }
}
div.innerArea{
    width: 100%;
    padding-right: 14px;
    padding-left:14px;
    margin-right: auto;
    margin-left:auto;
}
div.border{
    border: 1px solid #878787;
    height: 100%;
    flex-direction: row;
    padding : 10px;
}
div.tagArea{
    display:flex;
    flex-direction:row;
    gap: 10px;
}
