.writeFrame{
    flex-direction: column;
}
div.tagFrame{
    width: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tagInput{
    border: none;
    margin-left: 10px;
}
.tagInput:focus{
   outline-width: 0;
}


